section {
  width: 400px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 495px) {
  section {
    width: 95%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}
::-webkit-scrollbar-thumb {
  background-color: #bebebe1e;
  /* background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent) */
}