section {
  width: 400px;
  /* height: 400px;
  overflow-y: scroll; */
  /* background-color: #fff; */
  margin-top: 20px;
}

@media only screen and (max-width: 495px) {
  section {
    width: 90%;
  }
}