h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #4F4F4F;
  margin: 0;
}

h2 {
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #A9A9A9;
  margin: 0;
  margin-top: 10px;
}
