h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #313131;
  margin: 0;
}

h2 {
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #A9A9A9;
  margin: 0;
  margin-top: 10px;
}

header {
  margin: 0;
  padding: 15px;
  width: 100%;
  box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  gap: 10px;
}

.header__git {
  font-family: 'Poppins', sans-serif;
  color: #313131;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  gap: 5px;
}

.header__git svg {
  width: 16px;
  margin: 0;
}

.header__git:hover {
  border-bottom: 2px solid #313131;
}

.header button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #313131;
}

.header button:hover {
  cursor: pointer;
  transition: .5s;
  transform: scale(1.2);
  animation: slide 2s linear;
}