.search__container {
  width: 370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 20px;
  background-color: #f2f2f2;
}

.search__bar {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #7c7c7c;
  padding-left: 10px;
}

.search__bar::placeholder{
  color: #A9A9A9;
}

.search__bar:focus {
  outline: none;
}

.feather-search {
  width: 20px;
  color: #7c7c7c;
}

.todos__options {
  width: 100%;
  height: 35px;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.options__btn {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #929292;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.20em;
}

.options__btn:hover, .active {
  border-bottom: 5px solid #ff8ba7;
  cursor: pointer;
}

@media only screen and (max-width: 495px) {
  .search__container {
    width: 80%;
  }
}