.search__container {
  width: 370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 20px;
  background-color: #f2f2f2;
  margin-top: 30px;
}

.search__bar {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #7c7c7c;
  padding-left: 10px;
}

.search__bar::placeholder{
  color: #A9A9A9;
}

.search__bar:focus {
  outline: none;
}

.feather-search {
  width: 20px;
  color: #7c7c7c;
}

@media only screen and (max-width: 495px) {
  .search__container {
    width: 80%;
  }
}